@import '_Boxlogin';
@import '_vars';

* {
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background: $bg-color;
}


// Formulário

.BoXForm {
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.RadioGroup {
    display: flex;
    flex-direction: column;
}

.rg {
    display: flex;
    margin: 3px;
    &__flex{
        gap: 10px;
        display: flex;
        align-items: center;
        flex-direction: row;
    }
}

.BoXaCurso,
.BoXcCurso,
.BoXtema,
.BoXtcc {
    margin-top: 10px;
    @extend .Box;
    flex-direction: column;
    align-items: flex-start;
}

.BoXtcc {
    flex-direction: column;
    @extend .Box;
}

.BoX {
    @extend .Box;
    margin: 0;
    flex-direction: column;
    padding-bottom: 20px;
}

.heading {
    justify-content: center;
    padding-left: 25px;
    padding-right: 25px;
    outline: 0;
    text-align: left;
    font-size: 15px;
    text-decoration: none;
}

.NextF {
    @extend .inputSubmit;
    background-color: transparent;
    border: rgba(0, 0, 0, 0.6) solid;
    width: 7%;
}

.btnf {
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.btend{
    padding-top: 6px;
    @extend .btnf;
    justify-content: center;
}
.bend{
    @extend .NextF;
}
.datax{
    font-family: Roboto,Arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .3px;
    line-height: 16px;
    color: $btn-color;
    position: relative;
}
// Fim Formulário
.BoXend{
    @extend .BoXForm;
    padding-top: 15rem;
    display: flex;
}