@import '_Boxlogin';
@import '_vars';

* {
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71));
}